SELECT FirstName , LastName, JobTitle From Person.Person INNER JOIN HumanResources.Employee ON 
Person.Person.BusinessEntityID = HumanResources.Employee.BusinessEntityID and JobTitle IN ('Design Engineer','Tool Designer','Marketing Assistant'); 